venv/
Data/
Preprocess/repos/
Preprocess/temp/
Preprocess/vocab.txt
Preprocess/.env
lib/tree-sitter-codeviews/build/
lib/tree-sitter-codeviews/vendor/
lib/tree-sitter-codeviews/__pycache__/
lib/tree-sitter-codeviews/.DS_Store
Dataset/data/
Dataset/data2/
Dataset/*.java
Dataset/*.ast
Dataset/*.txt
Dataset/*.json
Dataset/__pycache__/




